/* ------------------- GLOBAL BG ------------------- */
body {
    min-height: 100vh;
    background: radial-gradient(
        circle at center,
        rgb(190,119,190) 0%,
        rgb(177,93,177) 25%,
        rgb(169,109,169) 45%,
        rgb(188,124,188) 55%,
        rgb(184,112,184) 60%,
        rgb(183,131,183) 78%,
        rgb(161,69,222)
    );
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------- NAVBAR ------------------- */
nav {
    height: 90px;
    background-color: black;
    display: flex;
    align-items: center;
}

nav div {
    font-size: x-large;
    font-weight: bold;
    background: linear-gradient(rgb(127,127,188), rgb(188,114,188));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 20px;
    cursor: pointer;
}

nav div a:hover {
    -webkit-text-fill-color: white;
}

header {
    background-color: darkgrey;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

header i {
    padding: 5px;
}

/* ------------------- CENTER MAIN BOX ------------------- */
.main {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* SAME glowing effect but FIXED to single container */
.box1 {
    width: 85%;
    height: auto;
  
    background-color: purple;
    border-radius: 12px;
    position: relative;
}

/* animated glow */
@property --deg {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

.box1::before, 
.box1::after {
    content: "";
    position: absolute;
    inset: 0;
    padding: 3px;
    border-radius: inherit;
    background: conic-gradient(
        from var(--deg),
        red,
        yellow,
        yellow,
        red
    );
    z-index: -2;
    animation: rotateGlow 2s linear infinite;
}

.box1::after {
    filter: blur(12px);
}

@keyframes rotateGlow {
    to { --deg: 360deg; }
}

/* ------------------- TABLE ------------------- */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 15px;
    overflow: hidden;
}

th {
    padding: 12px;
    background-color: purple;
    color: white;
    text-align: left;
    font-size: 18px;
}

td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

button {
  background: #1e88e5;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #1565c0;
}
/* --*
